<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zut.mapper.LogMapper" >
    <!-- 查询日志列表，resultType指定为Log实体类 -->
    <select id="getLogPage" resultType="com.zut.pojo.Log">
        SELECT
            id,
            operate_emp_id,
            operate_time,
            class_name,
            method_name,
            method_params,
            return_value,
            cost_time,
            operate_emp_name
        FROM sys_log
        ORDER BY operate_time DESC
    </select>


</mapper>